@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hidden-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hidden-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
